# Pandas复习文档

In [266]:
#定义模块
import pandas as pd

## 常用方法总结

### 读取文件

In [267]:
#1.读取csv，excel，sql
df = pd.read_csv('D:/Python/世界大学排名.csv',engine='python',encoding='utf-8')#如果没有列名行，可以自己添加 headers=0,name=['','','',...];如果出现报错：OSError: Initializing from file failed，添加 engine='python'解决；如果存在中文问题：添加 encoding='utf-8'解决
df.head()#默认显示5行数据

,Ranking,University Name,Country/Region,Academic Reputation,Employer Reputation,Faculty Student,International Faculty,International Students,Citations per Faculty,Overall Score,Free
0,1,麻省理工学院Massachusetts Institute of Technology,United Sta,100.0,100.0,100.0,100,94.1,99.8,100.0,免费评估
1,2,斯坦福大学Stanford University,United Sta,100.0,100.0,100.0,99.8,67.7,98.6,98.4,免费评估
2,3,哈佛大学Harvard University,United Sta,100.0,100.0,98.7,86.3,62.2,99.6,97.4,免费评估
3,4,牛津大学University of Oxford,United Kin,100.0,100.0,100.0,99.7,98.5,84.7,97.2,免费评估
4,5,加州理工学院California Institute of Technology,United Sta,97.8,81.2,100.0,99.4,87.3,100.0,96.9,免费评估

In [268]:
df = pd.read_excel('D:/Python/Pandas/wode/grade.xlsx')
df.head(1)

   序号         开课学期     课程编号          课程名称  成绩   学分  总学时   绩点 考核方式 课程属性   课程性质
0   1  2018-2019-1  4130124  （网络）中国历史地理概况  86  1.5   26  3.6   考试   公选  通识选修课

In [269]:
#读取sql需要导入模块以及连接数据库
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:123456@localhost:3306/flask')#用户名:密码@loclahost:你的mysql端口号/数据库名称
sql = '''
      select * from wyykt;
      '''
# read_sql_query的两个参数: sql语句， 数据库连接
df = pd.read_sql_query(sql, engine)
df.head(1)

,id,cid,cname,cp,img,info,study_c,les_c,price,mg
0,0,1209346809,Python爬虫+Excel/VBA办公自动化,乐学偶得,https://edu-image.nosdn.127.net/98ba84ca0aae4f...,"中国加油！世界加油！全民战疫,独家附赠远程办公手机随处操控Window与Mac跨平台办公与自...",4020.0,575.0,159,1

### 基于位置（数字）的索引

什么是基于位置的索引？简单来说，就是下标

In [270]:
df = pd.read_excel('D:/Python/Pandas/02 玩转Pandas索引/流量练习数据.xls')
df.head()

  流量来源 来源明细    访客数   支付转化率    客单价
0   一级   -A  35188  0.0998  54.30
1   一级   -B  28467  0.1127  99.93
2   一级   -C  13747  0.0254   0.08
3   一级   -D   5183  0.0247  37.15
4   一级   -E   4361  0.0431  91.73

In [271]:
df[:].head(2)#你可以直观的看到，df[:]表示所有行所有列

  流量来源 来源明细    访客数   支付转化率    客单价
0   一级   -A  35188  0.0998  54.30
1   一级   -B  28467  0.1127  99.93

In [272]:
#df[]
#df[1]  这两种写法都会报错

In [273]:
#那如果取某一列的所有行呢？
#df[:,2]#报错了，TypeError: unhashable type: 'slice' 翻译一下：切片错误

In [274]:
df[:2]

  流量来源 来源明细    访客数   支付转化率    客单价
0   一级   -A  35188  0.0998  54.30
1   一级   -B  28467  0.1127  99.93

In [275]:
df[1:2]#df[1:]

  流量来源 来源明细    访客数   支付转化率    客单价
1   一级   -B  28467  0.1127  99.93

到这里我们发现，df作为一个二维表对象，显然不直接支持索引切片取读取某一列数据,只支持根据自带的索引取所有行

In [276]:
#得到访客数这一列的所有行
df.iloc[:,2].head(2)#iloc 基于下标读取数据,先行后列，中间用逗号隔开 高阶：iloc[:,:]

0    35188
1    28467
Name: 访客数, dtype: int64

In [277]:
#如果我想得到列名怎么办，基本通用——重置索引 reset_index()
df.iloc[:,2].reset_index().head(2)

   index    访客数
0      0  35188
1      1  28467

In [278]:
df.iloc[2,2]#访问某个单元格

13747

In [279]:
#df.iloc[:,'访客数']#报错    ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [280]:
#读取连续多列
df.iloc[:,1:3].head(1)#与读取一列相比较，这里会自动显示列名

  来源明细    访客数
0   -A  35188

In [281]:
#读取不连续多列
df.iloc[:,[1,3,4]].head(1)#使用列表即可

  来源明细   支付转化率   客单价
0   -A  0.0998  54.3

In [282]:
#读取连续多行多列
df.iloc[2:4,2:4]

     访客数   支付转化率
2  13747  0.0254
3   5183  0.0247

这表明iloc只能通过数字切片的方式去访问df，不能通过列名称，并且在实际操作中，这样去读取数据会让其可读性降低，不够直观，所以我们实际工作中不常使用；但是它在列名称较少的条件下，对于连续多列、多列选取有着自己的优势

### 基于名称（标签）的索引

In [283]:
df.loc[:].head(1)#等价于df[:]   df.iloc[:]

  流量来源 来源明细    访客数   支付转化率   客单价
0   一级   -A  35188  0.0998  54.3

In [284]:
#df.loc['访客数']#报错：KeyError: 'the label [访客数] is not in the [index]'  找不到关键词

In [285]:
df.loc[:,'访客数'].reset_index().head(2)

   index    访客数
0      0  35188
1      1  28467

In [286]:
#df.loc[:,2]#TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [287]:
df.loc[1,:]#表示index=1的这一列

流量来源         一级
来源明细         -B
访客数       28467
支付转化率    0.1127
客单价       99.93
Name: 1, dtype: object

In [288]:
#读取访客数>100的所有行
df.loc[df['访客数']>100].head(2)#第一个参数是行，所以这里默认为所有列 等价于 df.loc[df['访客数']>100,:]

  流量来源 来源明细    访客数   支付转化率    客单价
0   一级   -A  35188  0.0998  54.30
1   一级   -B  28467  0.1127  99.93

In [289]:
#   df_all.loc[df_all.name=='张东升','content'] == df_all[df_all.name=='张东升']['content']

仔细对比可以发现，iloc可以更好的通过下标来操作，而loc是通过名称来操作；并且loc多用于对行进行判断，且更直观

### 读取列名/列

In [290]:
#其实读取某一列还有一个更简单的方法，那就是df.列名  或者    df['列名']
df.访客数.head(2)#但是这样写你会感觉缺点啥，不美观，所以我们更推崇第二种写法，当然如果全是英文列名，两者皆可

0    35188
1    28467
Name: 访客数, dtype: int64

In [291]:
df['访客数'].head(2)

0    35188
1    28467
Name: 访客数, dtype: int64

In [292]:
#为啥pandas读取一列不自带显示列名呢,我们尝试去从类型找答案
type(df['访客数'])

pandas.core.series.Series

有事不决就百度！可以发现，这读取一列在pandas里面是一个Series数组 —— 表示一列；而多列构成才是DataFrame。因为dataframe是由多个Serise数组组成的
百度结果：Series的数据只是有index和index.name属性，没有columns属性，而DataFrame数据有columns属性；其中，series的数据更像是字典的数据，包含索引和数据；而另一种形式的数据则可以使用多个属性

In [293]:
#既然是Serise数组，那就要用它的方法
# b1 = df['访客数'].head(2)
# b1.name = '访客数'
# b1.index.name = 'index'
# b1
#额,只能添加索引的名字，看来只能这样看了，name已经有了

In [294]:
#读取多列
df[['来源明细','访客数']].head(2)#要用[]

  来源明细    访客数
0   -A  35188
1   -B  28467

In [295]:
df.head(20)#

   流量来源 来源明细    访客数   支付转化率     客单价
0    一级   -A  35188  0.0998   54.30
1    一级   -B  28467  0.1127   99.93
2    一级   -C  13747  0.0254    0.08
3    一级   -D   5183  0.0247   37.15
4    一级   -E   4361  0.0431   91.73
5    一级   -F   4063  0.1157   65.09
6    一级   -G   2122  0.1027   86.45
7    一级   -H   2041  0.0706   44.07
8    一级   -I   1991  0.1652  104.57
9    一级   -J   1981  0.0575   75.93
10   一级   -K   1958  0.1471   85.03
11   一级   -L   1780  0.1315   98.87
12   一级   -M   1447  0.0104   80.07
13   二级   -A  39048  0.1160   91.91
14   二级   -B   3316  0.0709   66.28
15   二级   -C   2043  0.0504   41.91
16   三级   -A  23140  0.0969   83.75
17   三级   -B  14813  0.2014   82.97
18   四级   -A    216  0.0185   94.25
19   四级   -B     31  0.0000     NaN

### value_counts()
针对某一列进行不同值的重复个数统计[value_counts()是一种查看表格某列中有多少个不同值的快捷方法，并计算每个不同值有在该列中有多少重复值。
value_counts()是Series拥有的方法，一般在DataFrame中使用时，需要指定对哪一列或行使用]

In [296]:
#比如我们有个需求，需要统计流量来源每一层级的次数
df['流量来源'].value_counts().reset_index()#这个可以表明一级流量占大多数,还可以进一步得到相应的占比
# df1 = df['流量来源'].value_counts()/df['流量来源'].value_counts().sum()
# df1
#这里有个问题，列名不对应，我们留到后面去解决

  index  流量来源
0    一级    13
1    四级     4
2    二级     3
3    三级     2

一般而言，如果我们只需要得到Series,就不需要加reset_index()，一般 对某一列分组，统计都不加

In [297]:
#Series的两个常用方法
tj = df['流量来源'].value_counts()
tj

一级    13
四级     4
二级     3
三级     2
Name: 流量来源, dtype: int64

In [298]:
#如果我们想要把index和统计这两列的数据拿出来，怎么办
#既然有索引，那就试试枚举
for index,value in enumerate(tj):
    print(index,value)#结果有点伤心啊，他并没有使用自己的，而是用了数字

0 13
1 4
2 3
3 2

In [299]:
#tj.index#直接取出来了，但这里是Series格式
list(tj.index)#ok

['一级', '四级', '二级', '三级']

In [300]:
list(tj.values)

[13, 4, 3, 2]

In [301]:
#如何将他们放在一起，以行的形式输出呢？
result1 = [list(z) for z in zip(list(tj.index),list(tj.values))]
result1
#有人会问，这样做的目的是什么呢？因为饼图pie的数据保存格式就是这样的。

[['一级', 13], ['四级', 4], ['二级', 3], ['三级', 2]]

In [302]:
from pyecharts.charts import Bar, Pie, Line, WordCloud, Page
from pyecharts import options as opts 
c = (
    Pie()
    .add("",result1)
    .set_colors(['#3B7BA9', '#6FB27C', '#FFAF34','red'])
    .set_global_opts(title_opts=opts.TitleOpts(title="Pie-基本示例"))
    .set_series_opts(label_opts=opts.LabelOpts(formatter="{b}: {c}"))
)
#c.render_notebook()#妈的，这里卡死了！

### groupby()

In [303]:
#顾名思义：分组 比如我们想对客单价按照流量来源进行分组，得到每一组的平均客单价
# df.groupby('流量来源')['客单价'].mean()
df.groupby('流量来源')['流量来源','客单价'].mean()#这里发现有点小插曲！type一下 百度结果：是MultiIndex形式的一种dataframe

            客单价
流量来源
一级    71.020769
三级    83.360000
二级    66.700000
四级    94.250000

In [304]:
for index,i in df.groupby('流量来源'):
    print(index,i)

一级    流量来源 来源明细    访客数   支付转化率     客单价
0    一级   -A  35188  0.0998   54.30
1    一级   -B  28467  0.1127   99.93
2    一级   -C  13747  0.0254    0.08
3    一级   -D   5183  0.0247   37.15
4    一级   -E   4361  0.0431   91.73
5    一级   -F   4063  0.1157   65.09
6    一级   -G   2122  0.1027   86.45
7    一级   -H   2041  0.0706   44.07
8    一级   -I   1991  0.1652  104.57
9    一级   -J   1981  0.0575   75.93
10   一级   -K   1958  0.1471   85.03
11   一级   -L   1780  0.1315   98.87
12   一级   -M   1447  0.0104   80.07
三级    流量来源 来源明细    访客数   支付转化率    客单价
16   三级   -A  23140  0.0969  83.75
17   三级   -B  14813  0.2014  82.97
二级    流量来源 来源明细    访客数   支付转化率    客单价
13   二级   -A  39048  0.1160  91.91
14   二级   -B   3316  0.0709  66.28
15   二级   -C   2043  0.0504  41.91
四级    流量来源 来源明细  访客数   支付转化率    客单价
18   四级   -A  216  0.0185  94.25
19   四级   -B   31  0.0000    NaN
20   四级   -C   17  0.0000    NaN
21   四级   -D    3  0.0000    NaN

In [305]:
type(df.groupby('流量来源')['流量来源','客单价'].mean())
#type(df)#类型一致

pandas.core.frame.DataFrame

In [306]:
type(df.groupby('流量来源'))#这下不一样了，但是也看不明白

pandas.core.groupby.groupby.DataFrameGroupBy

这里解释一下：groupby('列名')被分组的列会自动变成索引列

In [307]:
#前面讲过，重置索引就完事了
# df.groupby('流量来源')['流量来源','客单价'].mean().reset_index()
#当然，官方大大不会不知道，所以我们还可以用这个 groupby()还有很多参数，这里就不介绍了，也用不到
df.groupby('流量来源',as_index=False)['客单价'].mean()

  流量来源        客单价
0   一级  71.020769
1   三级  83.360000
2   二级  66.700000
3   四级  94.250000

In [308]:
df.info()#输出基本信息

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
流量来源     22 non-null object
来源明细     22 non-null object
访客数      22 non-null int64
支付转化率    22 non-null float64
客单价      19 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 960.0+ bytes

#### 延伸一下
groupby()一般与apply和agg搭配着使用
[apply()处理的对象是一个个的类如DataFrame的数据表，然而agg()则每次只传入一列
agg()可以同时传入多个函数]

In [309]:
#比如我想对每一级的进行判断是否达到高客单价的标准(>80为高客单，<80为低客单)
def get_kedan(x):
    if x>80:
        return '高客单'
    else:
        return '低客单'
df1 = df.groupby('流量来源')['客单价'].mean().apply(get_kedan).reset_index()#在运算时不要添加,as_index=False，会报错    TypeError: ("'>' not supported between instances of 'str' and 'int'", 'occurred['客单类别'] = df.groupby('流量来源')['客单价'].mean().apply(get_kedan)#在运算时不要添加,as_index=False，会报错    TypeError: ("'>' not supported between instances of 'str' and 'int'", 'occurred at index 流量来源')
df1.columns = ['流量来源','客单类别']#修改列名
df1

  流量来源 客单类别
0   一级  低客单
1   三级  高客单
2   二级  低客单
3   四级  高客单

In [310]:
df1 = df.groupby('流量来源')['客单价'].mean().reset_index()
df1.columns = ['流量来源','客单价']
df1['客单类别'] = ['高客单' if x > 80 else '低客单' for x in df1['客单价']]
df1#很显然，列表推导式也可以完成

  流量来源        客单价 客单类别
0   一级  71.020769  低客单
1   三级  83.360000  高客单
2   二级  66.700000  低客单
3   四级  94.250000  高客单

In [311]:
#分组也可以统计个数
df1 = df.groupby('流量来源')['来源明细'].count().reset_index()
df1.columns = ['流量来源','count']
df1

  流量来源  count
0   一级     13
1   三级      2
2   二级      3
3   四级      4

#### 总结：
1.对原df进行操作，我们最好将其赋值给新的变量,以便于得到我们想要展示出的新的表
2.一般操作：
df1 = df.groupby('被分组的列')['需要展示或者需要操作的列',''].mean/sum/count/max/min().reset_index()
df1.columns = ['新的列名']#对列进行重命名,需要对所有列进行修改，要不然会报错
df1.head()#展示
3.只修改列名a为A    df.rename(columns={'a':'A'})

### sort_values()

In [312]:
#排序
df.sort_values('客单价',ascending=False).head(5)

   流量来源 来源明细    访客数   支付转化率     客单价
8    一级   -I   1991  0.1652  104.57
1    一级   -B  28467  0.1127   99.93
11   一级   -L   1780  0.1315   98.87
18   四级   -A    216  0.0185   94.25
13   二级   -A  39048  0.1160   91.91

### df.sort_index 按照索引排序，不多叙述

### pandas的四个方法

In [313]:
#concat()   横向合并
#pd.concat([df])#需要添加[],也可以只有一个表
pd.concat([df,df1]).head(3)#没有的数据直接被填充NaN

   count    客单价   支付转化率 来源明细 流量来源      访客数
0    NaN  54.30  0.0998   -A   一级  35188.0
1    NaN  99.93  0.1127   -B   一级  28467.0
2    NaN   0.08  0.0254   -C   一级  13747.0

In [314]:
#纵向合并
#pd.merge(left=df1,right=df,left_on='',right_on='',how='left/right/inner/outer')#how决定了听谁的，分别是 左，右，交集，并集

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)
left: 拼接的左侧DataFrame对象
right: 拼接的右侧DataFrame对象
on: 要加入的列或索引级别名称。 必须在左侧和右侧DataFrame对象中找到。 如果未传递且left_index和right_index为False，则DataFrame中的列的交集将被推断为连接键。
left_on:左侧DataFrame中的列或索引级别用作键。 可以是列名，索引级名称，也可以是长度等于DataFrame长度的数组。
right_on: 左侧DataFrame中的列或索引级别用作键。 可以是列名，索引级名称，也可以是长度等于DataFrame长度的数组。
left_index: 如果为True，则使用左侧DataFrame中的索引（行标签）作为其连接键。 对于具有MultiIndex（分层）的DataFrame，级别数必须与右侧DataFrame中的连接键数相匹配。
right_index: 与left_index功能相似。
how: One of ‘left’, ‘right’, ‘outer’, ‘inner’. 默认inner。inner是取交集，outer取并集。比如left：[‘A’,‘B’,‘C’];right[’'A,‘C’,‘D’]；inner取交集的话，left中出现的A会和right中出现的买一个A进行匹配拼接，如果没有是B，在right中没有匹配到，则会丢失。'outer’取并集，出现的A会进行一一匹配，没有同时出现的会将缺失的部分添加缺失值。
sort: 按字典顺序通过连接键对结果DataFrame进行排序。 默认为True，设置为False将在很多情况下显着提高性能。

In [315]:
#cut 切分
#继续针对上一个案例，我们对其进行维度切分,针对访客数进行切分
df.head(10)

  流量来源 来源明细    访客数   支付转化率     客单价
0   一级   -A  35188  0.0998   54.30
1   一级   -B  28467  0.1127   99.93
2   一级   -C  13747  0.0254    0.08
3   一级   -D   5183  0.0247   37.15
4   一级   -E   4361  0.0431   91.73
5   一级   -F   4063  0.1157   65.09
6   一级   -G   2122  0.1027   86.45
7   一级   -H   2041  0.0706   44.07
8   一级   -I   1991  0.1652  104.57
9   一级   -J   1981  0.0575   75.93

In [316]:
df['分类打标'] = pd.cut(df['访客数'],bins=[0,1000,2000,5000,10000,50000],labels=[1,2,3,4,5],right=True)#切分（分桶）操作常用于一维数组的分类和打标，cut 函数能够高效的完成任务
df.head(5)

  流量来源 来源明细    访客数   支付转化率    客单价 分类打标
0   一级   -A  35188  0.0998  54.30    5
1   一级   -B  28467  0.1127  99.93    5
2   一级   -C  13747  0.0254   0.08    5
3   一级   -D   5183  0.0247  37.15    4
4   一级   -E   4361  0.0431  91.73    3

In [317]:
#pivot_table()  透视表

In [318]:
df.describe()

               访客数      支付转化率         客单价
count     22.00000  22.000000   19.000000
mean    8498.00000   0.075477   72.860000
std    12015.23756   0.057865   26.888032
min        3.00000   0.000000    0.080000
25%     1824.50000   0.024875   59.695000
50%     2082.50000   0.070750   82.970000
75%    11606.00000   0.114950   91.820000
max    39048.00000   0.201400  104.570000

In [319]:
#df.dropna()#删空

In [320]:
#df.drop_duplicates()#去重

In [321]:
#df.drop_duplicates(subset='列名')#指定某一列去重

In [322]:
df.shape#快速返回行和列

(22, 6)

1.这里的map函数与字典搭配使用可以更换原来列的value，这里的map方法是df里面的，与python的map方法有区别，df.map可以不需要function，但python的内置函数map必须要有两个参数 map(function，可迭代序列)
2.map方法适用于series，因此在本例中，我们将使用它来转换DataFrame的一列，记住，它只是一个pandas系列。假设我们认为类名对我们来说有点长，我们想使用我们特殊的三字母编码系统来编码它们。我们将使用map方法和一个Python字典作为参数来完成此任务。我们将为每种独特的iris类型传递一个替换

In [323]:
#df['列'] = df['列'].str.map(dict)
#比如这里我们可以对流量来源进行value的命名,当然也可以用apply来进行函数的修改
re_ll = {
    '一级':'1级',
    '二级':'2级',
    '三级':'3级',
    '四级':'4级'
}
df2 = df1
df2['流量来源'] = df2['流量来源'].str.strip().map(re_ll)
df2.head()

  流量来源  count
0   1级     13
1   3级      2
2   2级      3
3   4级      4

In [324]:
#apply
def get_kd(x):
    if x>50:
        return 1
    else:
        return 0
#df['客单等级'] = df['客单价'].apply(get_kd)#只能是函数，不能是序列,但是判断性赋值可以直接用列表推导式
df['客单等级'] = ['1' if x>50 else '0' for x in list(df['客单价'])]
#lambda x:''.join() lambda x:x 后面这个x是值，不能是序列
df.head()

  流量来源 来源明细    访客数   支付转化率    客单价 分类打标 客单等级
0   一级   -A  35188  0.0998  54.30    5    1
1   一级   -B  28467  0.1127  99.93    5    1
2   一级   -C  13747  0.0254   0.08    5    0
3   一级   -D   5183  0.0247  37.15    4    0
4   一级   -E   4361  0.0431  91.73    3    1

## 暂时就这些常用的了，关键是思路请不清晰，有没有分析的方法以及效率，祝自己好运！

## 实战

在另一个平行世界，有一家专注于户外运动的巨头公司。既然是巨头，为了更加亲
切，我们就叫他大头吧。大头的旗下有 20 个品牌，这些品牌涉及到 128 个类目
（细分行业），涉及范围之广令人咋舌，可谓遍地开花。
平行世界的小 Z 就是这家巨无霸的数据分析师，今天刚来公司就接到了一个需求
——下班前务必筛选出近一年销售额总额 TOP5 的品牌以及对应的销售额。

In [325]:
import os
os.chdir('D:/Python/Pandas/05 Python批量处理Excel表格/Python+excel/源数据128张表格/')
name = '垂钓装备&绑钩器.xlsx'
df = pd.read_excel(name)
df.head()

        日期       转化率     访客数 三级类目         客单价     品牌
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1

In [326]:
df.info()#确定没有空值

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
日期      240 non-null object
转化率     240 non-null float64
访客数     240 non-null int64
三级类目    240 non-null object
客单价     240 non-null float64
品牌      240 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 11.3+ KB

In [327]:
#销售额 = 访客数x转化率x客单价
df['销售额'] = df['访客数']*df['转化率']*df['客单价']

In [328]:
df.head()

        日期       转化率     访客数 三级类目         客单价     品牌            销售额
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17  190167.455681
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12   64673.807815
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20   58871.997672
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13   55856.842507
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1   41409.600947

In [329]:
#对同一品牌进行分组，并对销售额求和
df_p = df.groupby('品牌')['销售额'].sum().reset_index()#一共20个品牌
df_p.head()

      品牌            销售额
0   品牌-1  529837.745358
1  品牌-10  217976.661847
2  品牌-11  327093.079507
3  品牌-12  485635.295843
4  品牌-13  438391.195855

初步得到一个表的品牌和销售额之后，我们还需要添加一个行业列来区分每个表中的不同细分行业  20个品牌，128个细分行业

In [330]:
df_p['行业'] = name.replace('.xlsx','')[5:]#品牌是垂钓装备
df_p.head()

      品牌            销售额   行业
0   品牌-1  529837.745358  绑钩器
1  品牌-10  217976.661847  绑钩器
2  品牌-11  327093.079507  绑钩器
3  品牌-12  485635.295843  绑钩器
4  品牌-13  438391.195855  绑钩器

In [331]:
# #时间测试
# import time
# import os
# os.chdir('D:/Python/Pandas/05 Python批量处理Excel表格/Python+excel/源数据128张表格/')
# start = time.time()
# result = pd.DataFrame()
# for name in os.listdir():
#     df = pd.read_excel(name)
#     df['销售额'] = df['访客数']*df['转化率']*df['客单价']
#     df_p = df.groupby('品牌')['销售额'].sum().reset_index()#一共20个品牌
#     df_p['行业'] = name.replace('.xlsx','')[5:]#品牌是垂钓装备
#     #result = result.append(df_p)#最快用时2.6319613456726074
#     result = pd.concat([df_p,result])#最快用时2.5532138347625732
# final = result.groupby('品牌')['销售额'].sum().reset_index().sort_values('销售额',ascending=False)
# end = time.time()
# print(end-start)

In [332]:
#final.head()

In [333]:
#如何取消科学计数法呢
#pd.set_option('display.float_format', lambda x:'%.2f'%x)

In [334]:
#final.head()

所以：最终老板的需求就是这5个

对代码进行时间测试

## 实战2

## TGI指数

In [335]:
import pandas as pd
df = pd.read_excel('D:/Python/Pandas/06 TGI指数分析实战/TGI/TGI指数案例数据.xlsx')
# df.head()
#去除无效数据---交易失败
df = df.loc[df['订单状态']=='交易成功',:]
df_m = df.groupby('买家昵称')['实付金额'].mean().reset_index()
df_m['客单类别'] = ['高客单' if x>50 else '低客单' for x in list(df_m['实付金额'])]
df_c = df.drop_duplicates(subset='买家昵称')
df_c = df_c[['买家昵称','省份','城市']]
df_mc = pd.merge(df_m,df_c,left_on='买家昵称',right_on='买家昵称',how='left')
df_mc = df_mc[['买家昵称','客单类别','省份','城市']]
#df_mc.groupby(['省份','城市'])['客单类别'].value_counts().unstack().head()
p_table = pd.pivot_table(df_mc,index=['省份','城市'],columns='客单类别',aggfunc='count')
gkd = p_table['买家昵称']['高客单'].reset_index()
dkd = p_table['买家昵称']['低客单'].reset_index()
result = pd.merge(gkd,dkd,left_on=['省份','城市'],right_on=['省份','城市'],how='inner')
#
result['客单总数'] = result['高客单']+result['低客单']
result['占比'] = result['高客单']/result['客单总数']
result = result.dropna()
#
result['总占比'] = result['高客单'].sum()/result['客单总数'].sum()
#
result['最终占比'] = result['占比']/result['总占比']*100
#对数据进行清洗
result = result.loc[(result['高客单']>result['高客单'].mean())&(result['客单总数']>result['客单总数'].mean()),:].sort_values('最终占比',ascending=False)
result.head()

      省份   城市     高客单     低客单    客单总数        占比       总占比        最终占比
287  福建省  福州市   140.0   133.0   273.0  0.512821  0.411969  124.480432
124  广东省  珠海市    48.0    52.0   100.0  0.480000  0.411969  116.513684
27    北京  北京市  1181.0  1280.0  2461.0  0.479886  0.411969  116.486067
283  福建省  厦门市   102.0   113.0   215.0  0.474419  0.411969  115.158874
111  广东省  佛山市   115.0   133.0   248.0  0.463710  0.411969  112.559423

## 实战3  RFM指标

## 实战4 transform函数

In [336]:
df = pd.read_excel('D:/Python/data.xlsx')
df

    account           name  order       sku  quantity  unit price  ext price
0    383080       Will LLC  10001  B1-20000         7       33.69     235.83
1    383080       Will LLC  10001  S1-27722        11       21.12     232.32
2    383080       Will LLC  10001  B1-86481         3       35.99     107.97
3    412290  Jerde-Hilpert  10005  S1-06532        48       55.82    2679.36
4    412290  Jerde-Hilpert  10005  S1-82801        21       13.62     286.02
5    412290  Jerde-Hilpert  10005  S1-06532         9       92.55     832.95
6    412290  Jerde-Hilpert  10005  S1-47412        44       78.91    3472.04
7    412290  Jerde-Hilpert  10005  S1-27722        36       25.42     915.12
8    218895      Kulas Inc  10006  S1-27722        32       95.66    3061.12
9    218895      Kulas Inc  10006  B1-33087        23       22.55     518.65
10   218895      Kulas Inc  10006  B1-33364         3       72.30     216.90
11   218895      Kulas Inc  10006  B1-20000        -1       72.18     -72.18

需求：如何得到 每个产品占总订单的比例   每个产品占总订单百分比

In [337]:
#先删除无效记录
df = df[df['quantity']>0]

In [338]:
#先分组
df_p = df.groupby('order',as_index=False)['ext price'].sum()
df_p.columns = ['order','total']

In [339]:
#然后根据分组后的分组这一列作为 共同合并列
df = df.merge(df_p,on='order',how='left')

In [340]:
#一步到位
df['总额'] = df.groupby('order')['ext price'].transform('sum')
df['占比'] = (df['ext price']/df['总额'])
df.sort_values('占比',ascending=False)

,account,name,order,sku,quantity,unit price,ext price,total,总额,占比
8,218895,Kulas Inc,10006,S1-27722,32,95.66,3061.12,3796.67,3796.67,0.806264
6,412290,Jerde-Hilpert,10005,S1-47412,44,78.91,3472.04,8185.49,8185.49,0.424170
0,383080,Will LLC,10001,B1-20000,7,33.69,235.83,576.12,576.12,0.409342
1,383080,Will LLC,10001,S1-27722,11,21.12,232.32,576.12,576.12,0.403249
3,412290,Jerde-Hilpert,10005,S1-06532,48,55.82,2679.36,8185.49,8185.49,0.327330
2,383080,Will LLC,10001,B1-86481,3,35.99,107.97,576.12,576.12,0.187409
9,218895,Kulas Inc,10006,B1-33087,23,22.55,518.65,3796.67,3796.67,0.136607
7,412290,Jerde-Hilpert,10005,S1-27722,36,25.42,915.12,8185.49,8185.49,0.111798
5,412290,Jerde-Hilpert,10005,S1-06532,9,92.55,832.95,8185.49,8185.49,0.101759
10,218895,Kulas Inc,10006,B1-33364,3,72.30,216.90,3796.67,3796.67,0.057129
4,412290,Jerde-Hilpert,10005,S1-82801,21,13.62,286.02,8185.49,8185.49,0.034942

单纯的groupby进行sum聚合得到的数据尺寸和transform不同。普通聚合函数返回聚合以后的结果，而transform返回的计算结果保留的原始数据的索引，这就是transform的独特性。

## 实战5

# 基础知识补充答疑

In [341]:
df = pd.read_excel('D:/Python/Pandas/04 灵活的Apply函数/apply案例数据.xlsx')#,index_col='姓名'
df.head()

   姓名  科目  综合成绩
0  李华  一模   651
1  李华  二模   579
2  李华  三模   580
3  王雷  一模   475
4  王雷  二模   455

In [342]:
df.describe()

             综合成绩
count   12.000000
mean   551.416667
std     77.306307
min    432.000000
25%    486.250000
50%    565.000000
75%    580.500000
max    691.000000

In [343]:
df.dtypes

姓名      object
科目      object
综合成绩     int64
dtype: object

In [344]:
# df.姓名.agg('count')#12
# df.姓名.count()
# df.姓名

In [345]:
# df.姓名.value_counts().count()#计数后再计数   返回一列
df.姓名.value_counts().value_counts()#返回两列 但不知道无法表达

3    4
Name: 姓名, dtype: int64

In [346]:
# df.groupby('姓名')['综合成绩'].sum().mean()
df.groupby('姓名')['综合成绩'].sum().count()
#要明白每次操作所得的东西都是变化了的！

4

In [347]:
#df[df['综合成绩']>500]#单独一个条件默认输出满足条件的所有列
# df[df['综合成绩']>500]['姓名']

In [348]:
#df[df['综合成绩']>500 & df['姓名'] is '李华']#错误写法#
#df[(df['综合成绩']>500) & ('李华' isin(df['姓名']))]#错误
df[(df['综合成绩']>500) & (df['姓名'] == '李华')]#TypeError: cannot compare a dtyped [object] array with a scalar of type [bool]---记得给条件添加括号
# df.loc[(df['综合成绩']>500) & (df['姓名'] == '李华'),:]

   姓名  科目  综合成绩
0  李华  一模   651
1  李华  二模   579
2  李华  三模   580

In [349]:
# df.综合成绩.apply(lambda x: float(x))#转换类型！

In [350]:
df.姓名.dtype#dtype('O') 代表object

dtype('O')

In [351]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 3 columns):
姓名      12 non-null object
科目      12 non-null object
综合成绩    12 non-null int64
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [352]:
df.shape

(12, 3)

In [353]:
df.shape[0]

12

In [354]:
df.shape[1]

3

In [355]:
df.columns

Index(['姓名', '科目', '综合成绩'], dtype='object')

In [356]:
len(df)

12

In [357]:
len(df.loc[9,'姓名'])

3

In [358]:
df.loc[9,'姓名']#原因可能是这里面的9是index,并不是int类型，所以会出现'int' object is not iterable的报错

'李子明'

In [359]:
len(df['姓名'])

12

In [360]:
#df.loc['李华','姓名']#错误  'the label [李华] is not in the [index]'

In [361]:
# [len(df[df['姓名'] == i]['姓名'].str.strip()) for i in df['姓名']]
#[len(df.loc[x,'姓名']) for x in len(df['姓名'])]# 'int' object is not iterable
[len(x) for x in df['姓名']]#直接这样就完事了，真几把蠢！

[2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3]

In [362]:
df.综合成绩 = pd.to_numeric(df.综合成绩,downcast='float')
df.综合成绩.dtype

dtype('float32')

In [371]:
#df.groupby('姓名') 1
#df.groupby('姓名').count()#出现所有列  2
#df.groupby('姓名')['随便某一列'].count() 3
#   df.groupby('姓名').value_counts()#会报错，'DataFrameGroupBy' object has no attribute 'value_counts' 4
#df.姓名.value_counts() 5   等价于2

In [ ]:
#df.groupby('姓名')['综合成绩'].value_counts()  对综合成绩进行操作
#df.groupby('姓名')['综合成绩'].count()  对分组列进行操作

In [372]:
df.groupby('姓名')['综合成绩'].value_counts().unstack()

综合成绩,432.0,455.0,475.0,490.0,552.0,553.0,577.0,579.0,580.0,582.0,651.0,691.0
姓名,,,,,,,,,,,,
张建国,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0
李华,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN
李子明,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN
王雷,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [376]:
import numpy as np
df.groupby('姓名').agg({'综合成绩':np.max})

      综合成绩
姓名
张建国  691.0
李华   651.0
李子明  577.0
王雷   475.0

In [377]:
df.groupby('姓名')['综合成绩'].agg([np.max,np.mean])

      amax        mean
姓名
张建国  691.0  608.666687
李华   651.0  603.333313
李子明  577.0  539.666687
王雷   475.0  454.000000

In [382]:
#重塑DataFrame
import pandas as pd
data=[['101',90,'2003-05-10'],['102',99,'2003-05-12'],['103',105,'2003-05-11']]
df=pd.DataFrame(data=data,columns=['id','score','dt'])

#重塑 以dt作为index,id的值作为列名，去填充对应score的值
df.pivot(index='dt', columns='id',values='score').reset_index()#, values='score'

id          dt   101   102    103
0   2003-05-10  90.0   NaN    NaN
1   2003-05-11   NaN   NaN  105.0
2   2003-05-12   NaN  99.0    NaN

In [385]:
df.columns
#df.columns.values

Index(['id', 'score', 'dt'], dtype='object')

In [388]:
df["id"].tolist()#

['101', '102', '103']

In [392]:
df.loc['合计'] = df.apply(lambda x: x.sum())#作用于一行
#注意：需要注意map()与apply()的区别，map中的函数作用于Series中的==每一个元素==，而apply中的函数作用于DataFrame==一列或一行==。
df
#df.loc['合计'] = df.apply(lambda x: x.sum()) 'DataFrame' object has no attribute 'map'

,id,score,dt
0,101,90,2003-05-10
1,102,99,2003-05-12
2,103,105,2003-05-11
合计,101102103101102103101102103,882,2003-05-102003-05-122003-05-112003-05-102003-0...

In [399]:
#df['合计'] = df['score'].map(lambda x: x.sum())#'int' object has no attribute 'sum' 只能作用于元素
df['合计'] = df['score'].map(lambda x: x+1)
df

,id,score,dt,合计
0,101,90,2003-05-10,91
1,102,99,2003-05-12,100
2,103,105,2003-05-11,106
合计,101102103101102103101102103101102103,1176,2003-05-102003-05-122003-05-112003-05-102003-0...,1177

In [401]:
#且
df[(df['id'].isin(['101','102']) & (df['score']==90))]
#取反
df[~df['id'].isin(['101','102'])]
#不等式
df[df['score']>=99]
#过滤掉空值
df[df['dt'].notnull()]

    id  score          dt  合计
0  101     90  2003-05-10  91

In [402]:
def stats(x):
    return pd.Series([x.count(),x.min(),x.idxmin(),
            x.quantile(.25),x.median(),
            x.quantile(.75),x.mean(),
            x.max(),x.idxmax(),
            x.mad(),x.var(),
            x.std(),x.skew(),x.kurt()],
            index = ['Count','Min','Whicn_Min',
            'Q1','Median','Q3','Mean',
            'Max','Which_Max','Mad',
            'Var','Std','Skew','Kurt'])
stats(d1)

NameError: name 'd1' is not defined