In [59]:
import pandas as pd
df = pd.read_csv('D:/Python/隐秘的角落/数据/df_第一集.csv',engine='python',encoding='utf-8',index_col=0)
df.head()

  episodes        name            contentId       content  showTime  likeCount
0     第一集           普普  1592838562920007156       二刷的朋友有吗         1         12
1     第一集   用户4ce9c103  1592308702474009744       良心啊，一小时         1         75
2     第一集         未知用户  1592317555873002245          基本都好         1          9
3     第一集         张东升   1593139392541001130        带你们去爬山         1          0
4     第一集         未知用户  1593076745193007217  一集一小时第一次遇见不错         1          0

In [60]:
df.name.value_counts()[1:9]#弹幕角色提及次数

张东升     2183
朱朝阳      916
普普       598
严良       287
陈冠声      206
周春红      102
朱永平       75
叶军        56
Name: name, dtype: int64

In [61]:
#用户等级打标
def get_db(x):
    if x == '普普' or x == '张东升' or x == '朱朝阳' or x == '严良' or x == '陈冠声' or x == '周春红' or x == '朱永平' or x == '叶军':
        return 'VIP用户'
    elif x == '未知用户':
        return '未知用户'
    else:
        return '普通用户'
df['level'] = df.name.str.strip().apply(get_db)#quchikongge
df.head()

,episodes,name,contentId,content,showTime,likeCount,level
0,第一集,普普,1592838562920007156,二刷的朋友有吗,1,12,VIP用户
1,第一集,用户4ce9c103,1592308702474009744,良心啊，一小时,1,75,普通用户
2,第一集,未知用户,1592317555873002245,基本都好,1,9,未知用户
3,第一集,张东升,1593139392541001130,带你们去爬山,1,0,VIP用户
4,第一集,未知用户,1593076745193007217,一集一小时第一次遇见不错,1,0,未知用户

In [62]:
df.level.value_counts()#可以制作饼图

未知用户     22816
VIP用户     4423
普通用户       268
Name: level, dtype: int64

In [63]:
df.likeCount.max()

7596

In [64]:
df.likeCount.min()

0

In [65]:
df.likeCount.mean()

14.206965499690988

记得有个啥方法的，在哪看到的，现在忘记了，应该就是他写的！

In [66]:
df['wz_count'] = [len(x) for x in df.content]#原谅是我想多了！
df.head()

,episodes,name,contentId,content,showTime,likeCount,level,wz_count
0,第一集,普普,1592838562920007156,二刷的朋友有吗,1,12,VIP用户,7
1,第一集,用户4ce9c103,1592308702474009744,良心啊，一小时,1,75,普通用户,7
2,第一集,未知用户,1592317555873002245,基本都好,1,9,未知用户,4
3,第一集,张东升,1593139392541001130,带你们去爬山,1,0,VIP用户,6
4,第一集,未知用户,1593076745193007217,一集一小时第一次遇见不错,1,0,未知用户,12

In [67]:
df.wz_count.max()

80

In [68]:
df.wz_count.value_counts()[:3]

8    3406
7    3387
9    3225
Name: wz_count, dtype: int64

In [69]:
word = pd.cut(df.wz_count,bins=[0,5,10,15,20,30,50,100],include_lowest = False).value_counts()
word

(5, 10]      15923
(10, 15]      6621
(0, 5]        3290
(15, 20]      1241
(20, 30]       378
(30, 50]        52
(50, 100]        2
Name: wz_count, dtype: int64

In [70]:
# dict_e = {
#     '第一集': '第一集_暑假'
# }
# df['episodes'] = df.episodes.str.strip().map(dict_e)
# df.head()

# 第二站

In [83]:
df = pd.read_csv('D:/Python/Mypython/Python数据分析/隐秘的角落弹幕分析/danmu2.csv',header= 0,engine='python',encoding='utf-8-sig',sep=',')#这个格式就离谱
df.head()

   index_label tv_name         uid           contentsId   contents  likeCount
0            0    第01集  1354611638  1592838562920007156    二刷的朋友有吗         19
1            1    第01集  1290387715  1592308702474009744    良心啊，一小时         78
2            2    第01集  1304178541  1592317555873002245       基本都好          9
3            3    第01集  1791773843  1593139392541001130     带你们去爬山          2
4            4    第01集  1581452867  1593150522156003497  这孩子演技很不错啊          0

In [87]:
#看看哪些用户弹幕发的最多
df.uid.value_counts()[:10]#.shape

1810351987    2561
1319063154     146
2244033948     131
2407948956     106
1488898523     104
2743128464     101
1399417612      97
2336432131      95
1310433370      85
1358218626      85
Name: uid, dtype: int64

In [91]:
df.uid.dtype

dtype('int64')

In [98]:
#单独把这个b拿出来进行分析 统计它每一集发送弹幕的总次数
df_p  = df[df.uid== 1810351987].sort_values('likeCount',ascending=False)
df_p.head()

,index_label,tv_name,uid,contentsId,contents,likeCount
48926,48926,第03集,1810351987,1592396281667005291,感觉晶晶有点自作自受,125
18370,18370,第01集,1810351987,1592310435456006922,真的不能忽视了，心理健康,96
48276,48276,第03集,1810351987,1592401371493007155,这样的晶晶真的太坏了,94
52807,52807,第03集,1810351987,1592398904483005951,善恶永远都在一瞬间的,81
97350,97350,第06集,1810351987,1592483605611004816,哈哈，姜还是老的辣呀,81

In [99]:
df_p.likeCount.value_counts()[:10]

1     365
0     363
2     307
3     242
4     210
5     149
6     121
7     120
8      92
10     69
Name: likeCount, dtype: int64

In [100]:
df_p.shape[0]#发送弹幕总条数

2561

In [107]:
df_dm = df_p.tv_name.value_counts().reset_index()
df_dm.columns = ['tv_name','dm_count']
df_dm.sort_values('tv_name')

   tv_name  dm_count
1     第01集       355
0     第02集       359
4     第03集       249
3     第04集       273
9     第05集       160
7     第06集       176
2     第07集       274
6     第08集       194
8     第09集       170
5     第10集       233
10    第11集        72
11    第12集        46

In [121]:
df_p.groupby('tv_name')['contents'].count()#分组自动按照tv_name进行排序了，这里这一种更优

tv_name
第01集    355
第02集    359
第03集    249
第04集    273
第05集    160
第06集    176
第07集    274
第08集    194
第09集    170
第10集    233
第11集     72
第12集     46
Name: contents, dtype: int64

In [ ]:
这些弹幕大家都认同？也就是点赞数最高的评论，即每一集中点赞数最高的！

In [130]:
#df.groupby('tv_name')['likeCount'].rank(method='first',ascending=False)==True  最终就是一个bool值的判断，如果True，则返回对应的结果；False返回相反的结果

In [126]:
df[df.groupby('tv_name')['likeCount'].rank(method='first',ascending=False)==1].reset_index()[['tv_name','contents','likeCount']]

   tv_name                          contents  likeCount
0     第01集                    秦昊：爬山吗？一秒下山的那种       8305
1     第02集                         喊一句你大爷的试试       8889
2     第03集                       快吗？我待会还要收尸耶       8526
3     第04集                              好秃然啊       8451
4     第05集                          她才6岁就这么坏       8472
5     第06集                      我还有机会嘛＝你还想活嘛       7452
6     第07集                        爸爸觉得老师有问题？       3387
7     第08集  哈哈哈哈哈哈，气势汹汹，回首掏，板砖一收，走位走位，看不见看不见       5601
8     第09集                     升哥你也敢打，分分钟干死你       4533
9     第10集                       妈，我怕实话实说吓死你       4521
10    第11集                          女人的直觉太准了       3097
11    第12集                 我东哥：我假发一拿你们会更不习惯😏       6174

In [131]:
df.groupby('tv_name')['likeCount'].max()#这上面写了一大堆还不如用我这个max直接解决！

tv_name
第01集    8305
第02集    8889
第03集    8526
第04集    8451
第05集    8472
第06集    7452
第07集    3387
第08集    5601
第09集    4533
第10集    4521
第11集    3097
第12集    6174
Name: likeCount, dtype: int64

In [190]:
#制作弹幕评论关键词，进行弹幕主角提及次数
a = {'张东升':'东升|秦昊|张老师', 
     '朱朝阳':'朝阳', 
     '严良':'严良', 
     '普普':'普普', 
     '朱永平':'朱永平', 
     '周春红':'春红|大娘子', 
     '王瑶':'王瑶', 
     '徐静':'徐静|黄米依', 
     '陈冠声':'王景春|老陈|陈冠声', 
     '叶军':'叶军|皮卡皮卡', 
     '马主任':'主任|老马', 
     '朱晶晶':'晶晶',
     '叶驰敏':'叶驰敏'}
# count = 0
# for i in df.contents:
#     if '东升' or '秦昊' or '张老师' in i:#这一句写法就没达到效果，应该用正则匹配
#         count += 1
# print(count)#结果并未达到预期，说明有问题
#b = []
for key,value in a.items():
    df[key] = df.contents.str.contains(value)
#     c = {key:df.loc[df[key]==True, 'contentsId'].count() for key in a.keys()}
#     b = pd.Series({key:df.loc[df[key]==True, 'contentsId'].count() for key in a.keys()})
#     # Can only append a Series if ignore_index=True or if the Series has a name
# c
    staff_count = pd.Series({key: df.loc[df[key]==True, 'contentsId'].count() for key in a.keys()}).sort_values()#标记一下！先在里面内循环将所有键值对全部输出然后再以Series数组形式进行打印 要学会这种写法！以后都使用
print(staff_count)
# df.head(100)

马主任       2
朱朝阳      22
叶军       47
徐静       99
叶驰敏     125
朱永平     153
周春红     583
朱晶晶     818
王瑶     1462
陈冠声    1942
严良     5075
普普     5188
张东升    5734
dtype: int64

In [193]:
# value = '东升' or '秦昊' or '张老师'
dm = df[df.contents.str.contains(value)]['contents']
dm

45                    为了秦昊二刷
124                  为秦昊老师来的
131                   来啦来啦秦昊
141                我丢，我贼喜欢秦昊
150               秦昊的作品不容错过呀
162                 秦昊喊你去爬山了
169               为了秦昊来的演技牛叉
185                  喜欢秦昊实力派
187                   我就叫张东升
197                 其实秦昊演技很好
204                有秦昊的都是好片子
238                    秦昊太棒了
254                  我来看秦昊的啦
266               没想到秦昊演技如此强
268               近几年秦昊的剧不错呢
301                 我爱秦昊！！！！
329          秦昊在《无证之罪》里面就叫严良
382                 秦昊演技真的好哎
384              秦昊这形象太斯文败类了
389                   秦昊棒棒哒！
393                 秦昊，你被逮捕了
396              秦昊的吴邪真的演得很好
408                秦昊果然适合演坏人
422               秦昊这个形象太符合了
424                 秦昊的白衬衣好帅
447               秦昊现在专拍这种戏啊
450               秦昊的剧，必须要支持
451                 秦昊的演技赞赞赞
481                    为秦昊而来
484                    秦昊真的帅
                 ...
200827              这歌是秦昊唱的吗
200830               张老师唱得好听
200834              突然超喜欢张老师
200841       建议加入张东升的童年经历会更好
200871              第一次看秦昊的剧
200883           张东升说朱可以相信童话
200903      最后这首片尾曲是张老师和普普唱的
200960            想让张东升过他的生活
201031              还是活成了张东升
201039               秦昊演技太棒了
201046             张老师是相信童话的
201085               秦昊演技太好了
201086          不可多得的好作品支持秦昊
201111               忽然很喜欢秦昊
201149                 喜欢张老师
201171       秦昊演反派人都恨不起来，他太好
201204           秦昊的表情控制太到位了
201231               彻底粉上秦昊了
201272              秦昊演的加分作品
201275                  秦昊很棒
201358            这部剧就好喜欢张老师
201364            秦昊圈粉一波演技炸了
201424           秦昊演的好，小朱也不错
201448                  秦昊厉害
201577            张东升确实是个狠人！
201585           张东升居然还没有被抓呢
201586            张老师已经被击毙了啊
201623            张老师已经被击毙了啊
201717            对秦昊有了全新的认识
201853    这样看起来张东升就像个普通的老师一样
Name: contents, Length: 5734, dtype: object

In [166]:
pd.Series({'1':2,'2':2})#在这里我们把1叫做key key:

1    2
2    2
dtype: int64

In [165]:
a.keys()

dict_keys(['张东升', '朱朝阳', '严良', '普普', '朱永平', '周春红', '王瑶', '徐静', '陈冠声', '叶军', '马主任', '朱晶晶', '叶驰敏'])

In [150]:
df.shape

(201865, 6)