In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df =pd.read_csv('D:\Pandas\music_name.csv',header=0,names=['name'],sep='\n')
df.head()

         name
0        FLOW
1         月牙湾
2  大天蓬 (弹唱片段)
3          凉城
4      思念是一种病

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17752 entries, 0 to 17751
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    17752 non-null  object
dtypes: object(1)
memory usage: 138.8+ KB

In [4]:
df.loc[df['name']=='微信登录']

       name
9      微信登录
23     微信登录
37     微信登录
49     微信登录
63     微信登录
...     ...
17692  微信登录
17706  微信登录
17720  微信登录
17734  微信登录
17748  微信登录

[1269 rows x 1 columns]

In [5]:
#去重
df = df.loc[df['name'].str.contains('微信登录|QQ登录|微博登录|网易邮箱帐号登录')==0,:]
df.shape

(12675, 1)

In [6]:
#处理数据
# df['name'] = df['name'].str.replace('[,]',' ')#strip()对中间空格没有用，记住哦

In [7]:
df

             name
0            FLOW
1             月牙湾
2      大天蓬 (弹唱片段)
3              凉城
4          思念是一种病
...           ...
17743          偏爱
17744       慢慢喜欢你
17745          说谎
17746         起风了
17747         水星记

[12675 rows x 1 columns]

In [8]:
df['name'] = [i if len(i)>1 else None for i in df['name']]

In [9]:
df.dropna(inplace=True)

In [10]:
# df.drop_duplicates(inplace=True)

In [11]:
df.shape

(12307, 1)

In [12]:
df.to_csv('music_name_pandas.csv',index=False)

In [13]:
# df['a'] = re.findall('[\u4e00-\u9fa5]', df['name'])#df.loc[df['name'].str.contains('i hate u')==1,:]

In [14]:
# df1 = df.loc[df['name'].str.contains('[\u4e00-\u9fa5]')==1,:]
# df1.shape
# df1

这个作者默认是英文歌，我服了。