# TGI指数

TGI指数= [目标群体中具有某一特征的群体所占比例/总体中具有相同特征的群体所占比例]*标准数100。
例如，将某地区15-24岁的人作为目标群体，将去[电影网站A]看电影作为相同特征；若该地区15-24岁的人中，有8.9%的人去过[电影网站A]看电影，而在该地区总体人群中，有6.6%的人去过[电影网站A]看电影，则[电影网站A]在15-24岁人群中的TGI指数是134.9（8.9%/6.6%×100），其数额越大，就表明目标群体吻合度就越强势。

案例：BOSS 抛来一份订单明细，“小 Z 啊，我们最近要推出一款客单比较高的产品，打
算在一些城市先试销，你看看这个数据，哪些城市的人有高客单偏好，帮我筛选 5
个吧”

城市是目标群体，客单偏好是特征  总体

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('D:/Python/Pandas/06 TGI指数分析实战/TGI/TGI指数案例数据.xlsx')
df.head()

           品牌名称    买家昵称                付款日期  订单状态   实付金额  邮费   省份   城市  购买数量
0  viva la vida    做快淘饭 2019-04-18 00:03:00  交易成功  22.32   0   北京  北京市     1
1  viva la vida   作自有世祟 2019-02-17 00:03:51  交易成功  87.00   0   上海  上海市     1
2  viva la vida    作雪白室 2019-04-18 00:01:43  交易成功  97.66   0  福建省  福州市     2
3  viva la vida  作美女购物主 2019-01-11 23:35:01  交易成功  37.23   0  河南省  安阳市     3
4  viva la vida  作美女购物主 2019-02-18 14:16:03  交易成功  29.50   0  河南省  安阳市     2

In [3]:
df.info()#没有空值

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28832 entries, 0 to 28831
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   品牌名称    28832 non-null  object
 1   买家昵称    28832 non-null  object
 2   付款日期    28832 non-null  datetime64[ns]
 3   订单状态    28832 non-null  object
 4   实付金额    28832 non-null  float64
 5   邮费      28832 non-null  int64
 6   省份      28832 non-null  object
 7   城市      28832 non-null  object
 8   购买数量    28832 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 2.0+ MB

In [4]:
df.groupby('订单状态').size()

订单状态
交易成功                 27792
付款以后用户退款成功，交易自动关闭     1040
dtype: int64

In [5]:
#根据订单状态，我们需要剔除交易失败的订单
df = df.loc[df['订单状态']=='交易成功',:]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27792 entries, 0 to 28831
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   品牌名称    27792 non-null  object
 1   买家昵称    27792 non-null  object
 2   付款日期    27792 non-null  datetime64[ns]
 3   订单状态    27792 non-null  object
 4   实付金额    27792 non-null  float64
 5   邮费      27792 non-null  int64
 6   省份      27792 non-null  object
 7   城市      27792 non-null  object
 8   购买数量    27792 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 2.1+ MB

In [6]:
df.head(10)

,品牌名称,买家昵称,付款日期,订单状态,实付金额,邮费,省份,城市,购买数量
0,viva la vida,做快淘饭,2019-04-18 00:03:00,交易成功,22.320,0,北京,北京市,1
1,viva la vida,作自有世祟,2019-02-17 00:03:51,交易成功,87.000,0,上海,上海市,1
2,viva la vida,作雪白室,2019-04-18 00:01:43,交易成功,97.660,0,福建省,福州市,2
3,viva la vida,作美女购物主,2019-01-11 23:35:01,交易成功,37.230,0,河南省,安阳市,3
4,viva la vida,作美女购物主,2019-02-18 14:16:03,交易成功,29.500,0,河南省,安阳市,2
5,viva la vida,作卢阳口才室,2019-06-16 04:15:56,交易成功,42.500,0,浙江省,衢州市,3
6,viva la vida,作饺子室,2019-06-16 19:35:06,交易成功,87.000,0,广东省,广州市,1
7,viva la vida,作韩式潮流服饰室,2019-01-11 16:56:37,交易成功,4.500,0,内蒙古自治区,呼伦贝尔市,1
8,viva la vida,作阿牛室,2019-01-11 06:29:28,交易成功,11.675,0,北京,北京市,1
9,viva la vida,佐o佐,2019-01-11 11:51:56,交易成功,59.500,0,广东省,广州市,1

买家昵称有重复的，我们需要统计买家昵称的实付总额#并且有些客户多次购买，所以要平均

In [7]:
df_m = df.groupby('买家昵称')['实付金额'].mean().reset_index()
df_m.head()

         买家昵称    实付金额
0   .blue_ram  49.450
1  .christiny  22.000
2     .willn1  34.570
3        .托托m  37.475
4       0000妮  13.500

客单价标准是>50

In [8]:
df_m['客单类别'] = ['高客单' if i>50 else '低客单' for i in list(df_m['实付金额'])]
df_m.head()

         买家昵称    实付金额 客单类别
0   .blue_ram  49.450  低客单
1  .christiny  22.000  低客单
2     .willn1  34.570  低客单
3        .托托m  37.475  低客单
4       0000妮  13.500  低客单

In [9]:
df_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25419 entries, 0 to 25418
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   买家昵称    25419 non-null  object
 1   实付金额    25419 non-null  float64
 2   客单类别    25419 non-null  object
dtypes: float64(1), object(2)
memory usage: 595.9+ KB

第一步已解决，现在需要添加城市和省份

In [10]:
df_c = df.drop_duplicates(subset='买家昵称')#这里对于数据无所谓
df_c.head()

           品牌名称    买家昵称                付款日期  订单状态   实付金额  邮费   省份   城市  购买数量
0  viva la vida    做快淘饭 2019-04-18 00:03:00  交易成功  22.32   0   北京  北京市     1
1  viva la vida   作自有世祟 2019-02-17 00:03:51  交易成功  87.00   0   上海  上海市     1
2  viva la vida    作雪白室 2019-04-18 00:01:43  交易成功  97.66   0  福建省  福州市     2
3  viva la vida  作美女购物主 2019-01-11 23:35:01  交易成功  37.23   0  河南省  安阳市     3
5  viva la vida  作卢阳口才室 2019-06-16 04:15:56  交易成功  42.50   0  浙江省  衢州市     3

In [11]:
df_c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25419 entries, 0 to 28831
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   品牌名称    25419 non-null  object
 1   买家昵称    25419 non-null  object
 2   付款日期    25419 non-null  datetime64[ns]
 3   订单状态    25419 non-null  object
 4   实付金额    25419 non-null  float64
 5   邮费      25419 non-null  int64
 6   省份      25419 non-null  object
 7   城市      25419 non-null  object
 8   购买数量    25419 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 1.9+ MB

In [12]:
df_c = df_c[['买家昵称','省份','城市']]
df_c.head()

     买家昵称   省份   城市
0    做快淘饭   北京  北京市
1   作自有世祟   上海  上海市
2    作雪白室  福建省  福州市
3  作美女购物主  河南省  安阳市
5  作卢阳口才室  浙江省  衢州市

In [13]:
df_mc = pd.merge(df_m,df_c,left_on='买家昵称',right_on='买家昵称',how='left')
df_mc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25419 entries, 0 to 25418
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   买家昵称    25419 non-null  object
 1   实付金额    25419 non-null  float64
 2   客单类别    25419 non-null  object
 3   省份      25419 non-null  object
 4   城市      25419 non-null  object
dtypes: float64(1), object(4)
memory usage: 1.2+ MB

In [14]:
df_mc.head()

         买家昵称    实付金额 客单类别   省份   城市
0   .blue_ram  49.450  低客单   上海  上海市
1  .christiny  22.000  低客单  江苏省  南京市
2     .willn1  34.570  低客单  山东省  烟台市
3        .托托m  37.475  低客单   上海  上海市
4       0000妮  13.500  低客单  广东省  揭阳市

In [15]:
df_mc = df_mc[['买家昵称','客单类别','省份','城市']]

In [16]:
dfg = df_mc.loc[df_mc['客单类别']=='高客单','客单类别'].count()
dfg

10477

In [17]:
dfp = df_mc['客单类别'].count()#每个城市的客单总数
dfp

25419

In [18]:
#每个城市的高客单
# df_mc.groupby(['城市','客单类别'])['客单类别'].count()
# df_mc = df_mc.loc[df_mc['客单类别']=='高客单',:]
# df_mc.head()

In [19]:
# df_mc = df_mc.rename(columns={'客单类别':'高客单'})

In [20]:
# df_mc.groupby('城市')['高客单'].count()

In [36]:
# import matplotlib.pyplot as plt
df_mc.groupby(['省份','城市'])['客单类别'].value_counts().unstack().head()#.plot(kind='bar')#这一步也可以得到，终于知道了！
# plt.show

客单类别            低客单     高客单
省份  城市
上海  上海市      2779.0  2324.0
云南省 临沧市         3.0     2.0
    丽江市         1.0     3.0
    保山市         6.0     2.0
    大理白族自治州     9.0     8.0

In [22]:
result = pd.pivot_table(df_mc,index=['省份','城市'],columns='客单类别',aggfunc='count')
result.head()

               买家昵称
客单类别            低客单     高客单
省份  城市
上海  上海市      2779.0  2324.0
云南省 临沧市         3.0     2.0
    丽江市         1.0     3.0
    保山市         6.0     2.0
    大理白族自治州     9.0     8.0

In [23]:
result['总人数'] = (result['买家昵称']['高客单']+result['买家昵称']['低客单'])

In [24]:
result['高客单占比'] = result['买家昵称']['高客单']/result['总人数'] #每个城市的高客单占比

In [25]:
result.head()

               买家昵称             总人数     高客单占比
客单类别            低客单     高客单
省份  城市
上海  上海市      2779.0  2324.0  5103.0  0.455418
云南省 临沧市         3.0     2.0     5.0  0.400000
    丽江市         1.0     3.0     4.0  0.750000
    保山市         6.0     2.0     8.0  0.250000
    大理白族自治州     9.0     8.0    17.0  0.470588

In [26]:
result['总占比'] = dfg/dfp

In [27]:
result.head()

               买家昵称             总人数     高客单占比       总占比
客单类别            低客单     高客单
省份  城市
上海  上海市      2779.0  2324.0  5103.0  0.455418  0.412172
云南省 临沧市         3.0     2.0     5.0  0.400000  0.412172
    丽江市         1.0     3.0     4.0  0.750000  0.412172
    保山市         6.0     2.0     8.0  0.250000  0.412172
    大理白族自治州     9.0     8.0    17.0  0.470588  0.412172

In [28]:
df = result['买家昵称']['高客单'].sum()/(result['买家昵称']['高客单'].sum()+result['买家昵称']['低客单'].sum())
df5

NameError: name 'df5' is not defined

In [181]:
result['最终占比'] = result['高客单占比']/result['总占比']*100
result = result.sort_values('最终占比',ascending=False)
result.head()

                   买家昵称        总人数     高客单占比       总占比        最终占比
客单类别                低客单  高客单
省份       城市
新疆维吾尔自治区 巴音郭楞蒙古自治州  2.0  9.0  11.0  0.818182  0.412172  198.504950
         哈密市        1.0  4.0   5.0  0.800000  0.412172  194.093729
云南省      丽江市        1.0  3.0   4.0  0.750000  0.412172  181.962871
甘肃省      白银市        1.0  3.0   4.0  0.750000  0.412172  181.962871
四川省      资阳市        3.0  6.0   9.0  0.666667  0.412172  161.744774

In [182]:
result = result.loc[(result['买家昵称']['高客单']>result['买家昵称']['高客单'].mean())&(result['总人数']>result['总人数'].mean()),:]

In [183]:
result.head()

           买家昵称             总人数     高客单占比       总占比        最终占比
客单类别        低客单     高客单
省份  城市
福建省 福州市   133.0   140.0   273.0  0.512821  0.412172  124.419057
广东省 珠海市    52.0    48.0   100.0  0.480000  0.412172  116.456237
北京  北京市  1280.0  1181.0  2461.0  0.479886  0.412172  116.428634
福建省 厦门市   113.0   102.0   215.0  0.474419  0.412172  115.102095
广东省 佛山市   133.0   115.0   248.0  0.463710  0.412172  112.503926

In [184]:
result.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 44 entries, (福建省, 福州市) to (广东省, 东莞市)
Data columns (total 6 columns):
(买家昵称, 低客单)    44 non-null float64
(买家昵称, 高客单)    44 non-null float64
(总人数, )        44 non-null float64
(高客单占比, )      44 non-null float64
(总占比, )        44 non-null float64
(最终占比, )       44 non-null float64
dtypes: float64(6)
memory usage: 5.3+ KB

In [185]:
#result.describe()

# 看来必须学会透视表，要不然处理这种分组数据，脑袋都炸了！

In [186]:
result = pd.pivot_table(df_mc,index=['省份','城市'],columns='客单类别',aggfunc='count')

In [187]:
tgi = pd.merge(result['买家昵称']['高客单'].reset_index(),result['买家昵称']['低客单'].reset_index(),left_on=['省份','城市'],right_on=['省份','城市'],how='inner')
tgi.head()

    省份       城市     高客单     低客单
0   上海      上海市  2324.0  2779.0
1  云南省      临沧市     2.0     3.0
2  云南省      丽江市     3.0     1.0
3  云南省      保山市     2.0     6.0
4  云南省  大理白族自治州     8.0     9.0

In [188]:
tgi.describe()

               高客单          低客单
count   328.000000   328.000000
mean     31.942073    45.554878
std     151.794786   181.226243
min       1.000000     1.000000
25%       3.000000     6.000000
50%       6.000000    12.000000
75%      13.000000    23.250000
max    2324.000000  2779.000000

# 总结

In [ ]:
1.明确需求和指标    指标是TGI指数，也就是 某一群体的特征占比/总人数中的特征占比（总人数由所有群体构成） 需求：特征、群体、总人数
2.这里的特征就是高客单 ，实付金额>50就算是高客单；群体：各城市；总人数，所有客单总数，也就是所有有效数据总行数
3.现需要对数据进行清洗：删除无效数据：在这里是交易失败的数据；分组：每个顾客有多次购买，且每次下单的金额也不一样，这里最优选择是选择取平均值
4.对高客单进行定类，新增 客单类别列；给定判断条件：>50属于高客单，否则为低客单
5.根据买家昵称进行分组去重，保证买家昵称的唯一性，方便数据合并
6.添加城市和省份，进行合并 得到由 买家昵称、客单类别、省份、城市四个列构成的新表
7.现在我们需要得到某一城市中高客单与总客单数的占比，而总客单数=高客单数+低客单数；所有城市高客单数可以直接筛选统计，总人数合计直接统计客单类别列
8.但是我们很难得到某一城市中的高客单数，或者说达不到自己要的效果
9.联想excel，对此我们需要用到透视表    省份、城市为行；客单类别为列，方式为统计
10.也就是说 某一城市中高客单与总客单数的占比是对行操作；总人数中的特征占比是列操作
11.分析：每个城市都有高客单和低客单（客单类别），每个省份有多个城市，客单类别分为高客单和低客单；客单类别又是由买家昵称所确定的
12.数据透视表是一种交互式的du表，可以进行某zhi些计算，如求和与计数等。所进行的计算与数据在数据透视表中的排列有关
13.用于快速汇总、分析大量数据中字段与字段之间的关联关系。使用数据透视表可以按照数据表格的不同字段从多个角度进行透视，并建立交叉表格，用以查看数据表格不同层面的汇总信息、分析结果以及摘要数据