In [1]:
import pandas as pd
import gopup as gp

In [2]:
# dic = {
#     'timu':['你最喜欢: A.Python B.JAVA','你最了解: A.Python123B.JAVA']
# }
# df = pd.DataFrame(dic)
# df
# #expand参数控制了是否将列拆开,expand=True必须写
# df['A'] = df.timu.str.split('.',expand=True)[1].str.replace('B','')
# df['B'] = df.timu.str.split('.',expand=True)[2].str.replace('B','')
# df

In [3]:
df = gp.university()
df.head()
df.to_excel('全国普通高等院校.xlsx',index=False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2631 entries, 0 to 2630
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   序号      2631 non-null   object
 1   学校名称    2631 non-null   object
 2   学校标识码   2631 non-null   object
 3   主管部门    2631 non-null   object
 4   所在省市    2631 non-null   object
 5   所在地     2631 non-null   object
 6   办学层次    2631 non-null   object
 7   备注      2631 non-null   object
dtypes: object(8)
memory usage: 164.6+ KB

In [5]:
df.loc[df['学校名称']=='吉首大学']

        序号  学校名称       学校标识码 主管部门 所在省市         所在地 办学层次 备注
1716  1717  吉首大学  4143010531  湖南省  湖南省  湘西土家族苗族自治州   本科

In [6]:
df['备注'] = ['民办' if '民办' in x else '官办' for x in df['备注']]
df.loc[df['备注']=='民办']
df1[:5]
# df1.shape
# df.loc[df['备注']=='官办']

NameError: name 'df1' is not defined

In [37]:
df2 = df.groupby('所在省市')['所在省市'].agg(['count']).reset_index()
df2[:5]

     所在省市  count
0     上海市     64
1     云南省     77
2  内蒙古自治区     53
3     北京市     92
4     吉林省     62

In [38]:
df3 = df.groupby('办学层次')['办学层次'].agg(['count']).reset_index().sort_values('count',ascending=False)
df3

  办学层次  count
0   专科   1388
1   本科   1243

In [40]:
df4 = df.iloc[:,4:8]#需要多加一列
df6 = df4.pivot_table(index=['所在省市','所在地'],values='办学层次',aggfunc='count')
df6.head()

                办学层次
所在省市 所在地
上海市  上海市          64
云南省  临沧市           1
     丽江市           2
     保山市           2
     大理白族\n自治州     3

In [46]:
df5 = df4.pivot_table(index=['所在省市','所在地'],columns='办学层次',aggfunc='count')
df5.head()

                  备注
办学层次              专科    本科
所在省市 所在地
上海市  上海市        26.0  38.0
云南省  临沧市         NaN   1.0
     丽江市         1.0   1.0
     保山市         1.0   1.0
     大理白族\n自治州   1.0   2.0

In [50]:
df7 = pd.merge(df5['备注']['专科'].reset_index(),df5['备注']['本科'].reset_index(),on=['所在省市','所在地'],how='inner')
df7.sort_values(['专科','本科'],ascending=False).head()

    所在省市  所在地    专科    本科
113  广东省  广州市  47.0  36.0
306  重庆市  重庆市  40.0  25.0
234  湖北省  武汉市  38.0  46.0
67   安徽省  合肥市  36.0  18.0
256  湖南省  长沙市  34.0  23.0